* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 300px;
    background-color: rgb(156, 116, 179);
    margin-left: 20px;
    list-style-type: none;
}

.menu__link {
    display: flex;
    color: aliceblue;
    /* padding: 10px; */
    align-items: center;
    text-decoration: none;
    font-family: Courier New, monospace;
}

.menu__link img {
    width: 30px;
    padding: 20px;
   
}

.menu__item:hover {
    background-color: blueviolet;
    font-style: italic;
   text-decoration: underline;
   text-decoration-color:  #f9dd94;
   /* linear-gradient(to left, #f69ec4, #f9dd94 100%);  */
}

